<klee-layout-base>
    <klee-layout-header> MESSAGES ! </klee-layout-header>

    <klee-layout-main>

        <ng-container *ngIf=" (messageManager.messageIdList$ | async ) as idList ">
                <h1>Message List  </h1>
                <hr>
                <pre>{{ idList | json }} </pre>

                <app-message-editor *ngFor="let id of idList" [messageId]="id"></app-message-editor>

        </ng-container>
        <!-- <app-message-editor ></app-message-editor> -->

    </klee-layout-main>

    <klee-layout-menu>

    </klee-layout-menu>

</klee-layout-base>